<h2 class="mb-4">Hello <span class="username"> {{userName}}</span>!</h2>

<h2><a class="btn btn-info" href="/dashboard/new">Create New Event</a></h2>

<section class="posts_container">
    <h3>My Events</h3>
    
    {{#each events as |event|}}
        <div class = "admin_post">
        {{> event event}}  
        <div class="edit_btn">
        <a href="/dashboard/edit/{{event.id}}">Edit</a>
        </div>
        </div>       
    {{/each}}
</section>

<script>"/js/editevent.js"</script>