  <h1>test home</h1>
  <h4>note - all the events will ultimately show here in hexagons</h4>

<section class="events_container">
    {{#each events as |event|}}
        {{> event event}}         
    {{/each}}
</section>


