<div class="signup_page">
  <div>
    <h1>Create Account</h1>
    <form class="signup-form">
      <div>
        <label for="username">UserName</label>
        <input
          type="text"
          name="user_name"
          placeholder="Enter username"
          id="signup_username"
        />
      </div>

      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="signup_password"
        />
      </div>

      <button type="submit">Create Account</button>
    </form>
  </div>

  <div>
    <h1>Login</h1>
    <form class="login-form">
      <div>
        <label for="username">UserName</label>
        <input
          type="text"
          name="user_name"
          placeholder="Enter username"
          id="username"
        />
      </div>

      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          id="password"
        />
      </div>

      <button type="submit">Login</button>
    </form>

  </div>

</div>

<script src="/js/signup.js"></script>